h1 {
  color: red;
}

header {
  width: 100%;
  background-color: #213740;
}

.wrapper {
  display:grid;
  grid-template-rows: 15% 70% 15%;
  grid-gap:0;
  height: 100vh;
  width: 100vw;
}

footer {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  background-color: #213740;
}
