#map {
  /* visibility: hidden; */
  /* display: none; */
  height:78vh;
  width: 100%;
}

h1 {
  color: red;
}

body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

header {
  width: 100%;
  background-color: #213740;
}

/* logo img {
  width:60%;
  padding-top:3.5em;
  padding-left:50px;
} */


main {
   flex: 1 0 auto;
   width:100vw;

 }


 nav .brand-logo {
   border-left: 0.1rem solid #b6b6b6;
   bottom:8px;
   font-family:'Roboto', sans-serif;
   font-size: 1.25rem;
   font-weight: 200;
   letter-spacing: 0.2rem;
   line-height: 2rem;
   padding-left: 0.75rem;
   position: relative;
   text-transform: uppercase;
 }
 nav .logo-text {
   padding:0;
 }

 nav .logo-png {
   padding-left: 15px;
   padding-top: 13px;
   width: 50px;
 }

 nav ul li {
   font-size: 1.25rem;
   font-weight: 400;
   letter-spacing: 0.2rem;
   text-transform: uppercase;
 }

body {
  background-image: url("../images/emergency-service.png");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
/* .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
} */

footer {
  padding:1.5em 4em;
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
}


/* .footer-menu-item {
padding:3em 4em;
} */
